:root {
  --main-clr: rgb(200, 200, 200);
  --sec-clr: rgb(160, 160, 160);
  --third-clr: rgb(60, 60, 60);
  --box-bg: #111;
  --body-bg: #1e1e1e;
}
body {
  background-color: var(--body-bg);
  color: var(--main-clr);
  display: grid;
  place-items: center;
  place-content: center;
  height: 100dvh;
  height: 100vh;
  transition: background-color 0.3s;
}

html[data-theme='light'] {
  --main-clr: #000;
  --sec-clr: rgb(35, 35, 35);
  --third-clr: #111;
  --box-bg: #fff;
  --body-bg: whitesmoke;
}

html[data-theme='light'] #box {
  box-shadow: 0 0 30px grey;
}
.tippy-box[data-theme~='copied'] {
  background: var(--third-clr);
  color: #fff;
  padding: 3px 5px;
  border-radius: 5px;
}
